@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-size: 18px;
  background: rgb(245 245 245);
}

body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

#__next {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  padding-bottom: 40px;
}

input {
  outline: transparent;
}

.left_sidebar::-webkit-scrollbar {
  display: none;
}